.commentCard {
  padding: 20px;
  border-radius: 20px;
  text-align: left;
  width: 70%;
  margin: 0 auto;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  background: #f9f9f9;
  margin: 10px auto;
}

.commentCard .title {
  padding: 0 0 5px 0;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.commentCard .body {
  font-size: 1.25rem;
}
